<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title" class="title"></label>
                <input type="text" name="title" id="title" placeholder="name"></input>
                <label for="price" class="title"></label>
                <input type="number" name="price" step="0.01" id="title" placeholder="price"></input>
                <label for="description" class="title"></label>
                <input type="text" name="description" id="title" placeholder="description"></input>
                <label for="imagelink" class="title"></label>
                <input type="text" name="imagelink" id="title" placeholder="imagelink"></input>
            </div>
            <button type="submit" class="btn">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>