@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.centered {
  text-align: center;
  min-height: 80vh;
  margin: 2rem 16rem 2rem 16rem;
  padding: 2rem 16rem;
  border:2px #00695c;
  border-style: groove;
  border-radius: 10px;
  box-shadow: 2px 2px #00695c;
}



/* .image__container img {
  aspect-ratio: 8/13;
} */

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
  transition: all 300ms ease-in-out;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 6rem;
}

.card {
  box-shadow: 0 2px 8px #00695c;
  transition: box-shadow 200ms ease-in-out;
  max-height: 0%
}

.card:hover:hover{
  box-shadow: 0 8px 20px #00695c;
  /* transition: box-shadow 200ms ease-out; */
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  box-shadow: 1px 1px #00695c;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
  box-shadow: 2px 2px #00695c;
}

img.icon{
  width: 4rem;
  height: 4rem;
  /* background-blend-mode: difference; */
}