.product-form {
    width: 40rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    margin: 2rem;
    width: 20rem;
    height: 40%;
    max-width: 95%;
    max-height: 50%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    max-height: 30%;
    height: 50px;
    overflow: hidden;
}

.card__image img{
    aspect-ratio: 9/13;
}