<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main>

        <div> connect with us at <b> yashrewa00@gmail.com </b> </div>
        <div> contact no: <b> 7803938479 </b> </div>
    </main>
<%- include('../includes/end.ejs')%>